<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <h3>{{caption}}</h3>
            <p>Email: {{email}}</p>
            <p>Phone: {{phone}}</p>
        </div>

        {{>footer}}
    </body>
</html>